<ion-view title="Create New Prospect" >
    <ion-content padding="true">
        <form name="addSuspectForm">
            <ion-list>
            <div class="dropDownTitle">
                <label class="item item-select" >
                    
                    <span class="input-label">Title
                    <select name="title" >
                        <option value="1" selected>M/S</option>
                        <option value="2">Mr</option>
                        <option value="3">Mrs</option>
                        <option value="4">Miss</option>
                    </select>
                    </span>
                
                </label>
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Company name" ng-model="newSuspect.name" />
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="Mobile Number" ng-model="newSuspect.mobileNo"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Email" ng-model="newSuspect.email"/>
                </label>
                <label class="item item-select">
                <h2><b>Privacy</b></h2>
                <ion-radio ng-model="newSuspect.IsPublic" value="true">Public
                </ion-radio>
                <ion-radio ng-model="newSuspect.IsPrivate" ng-click="showKeyManagerPopup()">Private 
                </ion-radio>
                </label>
                <label class="item item-input item-select" >
                    <span class="input-label">Type of contact</span>
                    <select name="typeOfContact">
                        <option value="1">Contact</option>
                        <option value="2" selected>Vendor</option>
                        <option value="3">Both</option>
                        <option value="4">Other</option>
                    </select>
                </label> 
                <label class="item item-input" >
                    <input type="text" placeholder="keyAccountManager" ng-model="newSuspect.KeyAccountManager" />
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="timeZone" ng-model="newSuspect.timeZone" />
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Designation" ng-model="newSuspect.designation"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="office phone" ng-model="newSuspect.officePhone"/>
                </label>
                <label class="item item-input">
                    <input type="tel" placeholder="other Phone" ng-model="newSuspect.otherPhone"/>
                </label>
                <label class="item item-input">
                  <input type="text" placeholder="website" ng-model="newSuspect.website"/>
                </label>
                <div ><label class ="item item-input">
                        <span class="input-label"><h2>Address</h2></span>
                        </label>
                </div>
                <label class="item item-input">
                    <input type="text" placeholder="Address Line 1" ng-model="newSuspect.billingAddress.addressLine1"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Address Line 2" ng-model="newSuspect.billingAddress.addressLine2"/>
                </label>

                <label class="item item-input">
                    <input type="text" placeholder="Area" ng-model="newSuspect.billingAddress.area"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="City" ng-model="newSuspect.billingAddress.city"/>
                </label>
                 <label class="item item-input">
                    <input type="text" placeholder="District" ng-model="newSuspect.billingAddress.district"/>
                </label>
                  <label class="item item-input">
                    <input type="text" placeholder="State" ng-model="newSuspect.billingAddress.state"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Country" ng-model="newSuspect.billingAddress.country"/>
                </label>
                <label class="item item-input">
                    <input type="text" placeholder="Pincode" ng-model="newSuspect.billingAddress.zipCode"/>
                </label> 
                <div class="button-bar">
                    
                    <button type="button" class="button button-balanced" 
                        ng-click="saveSuspect()">Save</button>
                </div>
        </ion-list>
    </form>
  </ion-content>
</ion-view>