<!-- 
date:25/02/2015
name:jay
description: listing of suspect
-->
<div class="bar bar-subheader">
    <div class="button-bar" >
        <button type="button" class=" button button-dark icon ion-plus-circled"
         ng-click="addNewSuspect()"> Add Prospect</button>
    </div>
    <div class="bar bar-header item-input-inset">
        <label class="item-input-wrapper">
            <i class="icon ion-ios7-search placeholder-icon"></i>
            <input type="search" placeholder="Search" ng-model="search">
        </label>
    </div>
</div>
<ion-view title="Prospect" ng-init="init()" left-buttons="leftButtons">
<div>
    <ion-content padding="true" class="has-header">
    <br/><br/><br/><br/><br/>
        <ion-list>
              <ion-item ng-repeat="suspect in suspectList | filter:search | orderBy:'companyName'" 
                      on-tap="SelectSpecificSuspect(suspect.ContactId)">
                     <label>
                             <span>{{suspect.ContactId}}</span><br/>
                            <span>{{suspect.Name}}</span><br/>
                            <span>{{suspect.Mobile}}</span>
                     </label>
              </ion-item>
        </ion-list>
    </ion-content>
    <ion-infinite-scroll on-infinite="suspectListPaging()" distance="1%"  
         ng-if="!noMoreItemsAvailable" icon="ion-loading-c" >
    </ion-infinite-scroll>
  </div>
</ion-view>
