<!-- 
date:25/02/2015
name:ekta,nirali
description: form for add foolowup activity 
-->
<ion-view title="Add followup">
    <ion-content padding="true" scroll="true" has-bouncing="true" overflow-scroll="true">
        <form name="add_suspect">
            <ion-list>
                <label class="item item-select" >
                    <span class="input-label">Outcome
                    <select name="typeOfContact" ng-model="addFollowup.outcome">
                        <option value="1">select</option>
                    </select>
                    </span>
                </label>
                <label class="item item-select" >
                    <span class="input-label">Associate Contact
                    <select name="typeOfContact" ng-model="addFollowup.associateContact">
                        <option value="1">select</option>
                    </select>
                    </span>
                </label>
                <label class="item item-input">
                    <input type="date" placeholder="Next FollowUp" ng-model="addFollowup.nextFollowUp">
                </label>      
                <label class="item item-input">
                    <input type="date" placeholder="ActualTakenOn" ng-model="addFollowup.actualTakenOn">
                </label>
                 <label class="item item-input">
                <textarea  cols="20" rows="10" ng-model="addFollowup.comment"> </textarea>
                </label> 
                <div class="button-bar">
                    <button type="button" class="button button-balanced"  
                        ng-click="saveFollowup()">Save</button>
                </div>
        </ion-list>
    </form>
  </ion-content>
</ion-view>