<div class="bar bar-subfooter">
       <a  class="item item-icon-right item-dark" href="#/app/followupreply">
        <i class="icon ion-android-arrow-forward"></i>REPLY                   
      </a>
</div>
<ion-view title="Followup" ng-init="init()" left-buttons="leftButtons">
    <ion-content padding="true" class="has-header">
         <ion-list>
                <ion-item ng-repeat="followup in followupList">
                       <label>
                              <span hidden>{{followup.id}}</span>
                              <span hidden>{{followup.companyName}}</span><br/>
                              <span>{{followup.name}}</span>
                              <span>{{followup.mobileno}}</span>
                       </label>
                </ion-item>
          </ion-list>
            
       </ion-content>
      
</ion-view>
